.bestseller {
    background-color: #C8DBD7;
}

.bestseller td:first-child p {
    font-size: 11px;
}

.bestseller td:first-child {
    border-radius: 10px 0 0 10px;
}

// Set border-radius on the top-right and bottom-right of the last table data on the table row
.bestseller td:last-child {
    border-radius: 0 10px 10px 0;
}

h1 {
    margin: 30px;
}

table {
    margin-bottom: 30px;
}

.bold {
    font-weight: 600;
    margin-bottom: 0;
    color: #3C5556;
}

button {
    background-color: #C8DBD7;
    border: 3px solid #3C5556;
    border-radius: 5px;
}

button:hover {
    background-color: #3C5556;
    color: #F6EFE7;
}

.deleteButton {
    background-color: #E09789;
    border: 3px solid #996054;
}

.deleteButton:hover {
    background-color: #996054;
}

.outStock {
    color: #F1B24A;
    font-weight: 600;
}