<h1>Vinyls List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Quantity</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vinyl of vinyls" [ngClass]="{'bestseller': vinyl.bestSeller}">
            <td><img width="120px" class="img-thumbnail" [src]="vinyl.img">
                <p class="bold" *ngIf="vinyl.bestSeller">BEST SELLER</p>
            </td>
            <td>{{vinyl.name}}</td>
            <td>{{vinyl.author}}</td>
            <td>{{vinyl.genre}}</td>
            <td>{{vinyl.price | currency:'USD'}}</td>
            <td><span class="outStock" *ngIf="vinyl.stock==0">OUT OF STOCK</span><span *ngIf="vinyl.stock!=0">{{vinyl.stock}}</span></td>
            <td>
                <app-input-integer [max]="vinyl.stock" [(quantity)]="vinyl.quantity" *ngIf="vinyl.stock"></app-input-integer>
                <p *ngIf="vinyl.quantity>=vinyl.stock">You already reached the maximum available ({{vinyl.stock}}).</p>
            </td>
            <td>
                <app-like-button [img]="vinyl.img" [name]="vinyl.name"></app-like-button>
            </td>
            <td>
                <button (click)="addToCart(vinyl)">Buy</button>
            </td>
        </tr>
    </tbody>
</table>