<h1>Lista de vinilos</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Buy</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vinyl of vinyls" [ngClass]="{'bestseller': vinyl.bestSeller}">
            <td><img [src]="vinyl.img"></td>
            <td>{{vinyl.name}}</td>
            <td>{{vinyl.genre}}</td>
            <td>{{vinyl.price | currency}}</td>
            <td><span class="badge bg-warning text-dark" *ngIf="vinyl.stock==0">OUT OF STOCK</span><span *ngIf="vinyl.stock!=0">{{vinyl.stock}}</span></td>
            <td>
                <app-input-integer [max]="vinyl.stock" [(quantity)]="vinyl.quantity" (maxReached)="maxReached($event)" *ngIf="vinyl.stock"></app-input-integer>
            </td>
        </tr>
    </tbody>
</table>