<h1>Contact Us</h1>
<p>Jot us a note and we’ll get back to you as quickly as possible. If you have a problem with your order, please include the Order Number listed on your email receipt.</p>
<form>
    <label> Name
        <input required type="text">
    </label>
    <label> Email Address
        <input required type="email">
    </label>
    <label> Order Number
        <input type="number">
    </label>
    <label> What is your concern?
        <textarea required></textarea>
    </label>
    <button type="submit">Submit</button>
</form>