ul {
    list-style-type: none;
    padding-left: 0;
}

h1 {
    margin: 30px;
}

button {
    background-color: #C8DBD7;
    padding: 10px 25px 10px 25px;
    border: 0px;
    border-radius: 10px;
}

button:hover {
    background-color: #3C5556;
    color: #F6EFE7;
}

p {
    padding: 10px 60px 10px 60px;
}

.titleLike {
    margin-top: 100px;
    margin-bottom: 5px;
}