:root {
    --pink: #F5D4C3;
    --red: #E09789;
    --mint: #E9F1EF;
    --aqua: #C8DBD7;
    --beige: #F6EFE7;
    --marine: #3C5556;
    --green: #164A41;
    --olive: #4D774E;
    --sage: #9DC88D;
    --yellow: #F1B24A;
}

.navbar {
    background-color: #9DC88D;
}

footer {
    background-color: #9DC88D;
}

.navbar-brand img {
    margin-left: 20px;
}

.back {
    background-color: #F6EFE7;
    text-align: center;
}